@tailwind base;
@tailwind components;
@tailwind utilities;


/* Variables CSS globales */
:root {
  --background: #ffffff; /* Couleur de fond claire */
  --foreground: #171717; /* Couleur du texte claire */
}

html {
  scroll-behavior: smooth;
}

/* Thème sombre */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717; /* Couleur de fond sombre */
    --foreground: #ededed; /* Couleur du texte sombre */
  }
}

/* Styles globaux pour le body */
body {
  @apply font-sans; /* Appliquer la police DM Sans */
  color: var(--foreground); /* Appliquer la couleur du texte */
  background: var(--background); /* Appliquer la couleur de fond */
}
.swiper-button-prev,
.swiper-button-next {
  font-size: 2rem;
  color: #888; /* Couleur grise */
  background: none;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #000; /* Changer la couleur lors du survol */
}


